<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> BREAST CANCER CLASSIFICATION </h1><br>
        
        <form method="POST", action="{{/home.html}}">
           <b>   Mean radius :  <input type="text", name='a', placeholder="enter "> <br><br>
            Mean texture:  <input type="text", name='b', placeholder="enter "> <br><br>
            Mean perimeter:  <input type="text", name='c', placeholder="enter "> <br><br>
            Mean area    : <input type="text", name='d', placeholder="enter "> <br><br>
            Mean smoothness :  <input type="text", name='e', placeholder="enter "> <br><br>
            Mean compactness :  <input type="text", name='f', placeholder="enter "> <br><br>
            Mean concavity  :  <input type="text", name='g', placeholder="enter "> <br><br>
            Mean concave points  : <input type="text", name='h', placeholder="enter "> <br><br>
            Mean symmetry :  <input type="text", name='i', placeholder="enter "> <br><br>
            Mean symmetry :  <input type="text", name='j', placeholder="enter "> <br><br>
            Mean fractal dimension :  <input type="text", name='k', placeholder="enter "> <br><br>
            Radius error  : <input type="text", name='l', placeholder="enter "> <br><br>
            Texture error  :  <input type="text", name='m', placeholder="enter "> <br><br>
            perimeter error :  <input type="text", name='n', placeholder="enter "> <br><br>
            area error   :  <input type="text", name='o', placeholder="enter "> <br><br>
            smoothness error  : <input type="text", name='p', placeholder="enter "> <br><br>
            compactness error :  <input type="text", name='q', placeholder="enter "> <br><br>
            concavity error  :  <input type="text", name='r', placeholder="enter "> <br><br>
            concave points error :  <input type="text", name='s', placeholder="enter "> <br><br>
            symmetry error  : <input type="text", name='t', placeholder="enter "> <br><br>
            fractal dimension error   :  <input type="text", name='u', placeholder="enter "> <br><br>
            worst radius  :  <input type="text", name='v', placeholder="enter "> <br><br>
            worst texture  :  <input type="text", name='w', placeholder="enter "> <br><br>
            worst perimeter          : <input type="text", name='d', placeholder="enter "> <br><br>
            worst area   :  <input type="text", name='x', placeholder="enter "> <br><br>
            worst smoothness   :  <input type="text", name='y', placeholder="enter "> <br><br>
            worst compactness    :  <input type="text", name='z', placeholder="enter "> <br><br>
            worst concavity  : <input type="text", name='aa', placeholder="enter "> <br><br>
            worst concave points    :  <input type="text", name='bb', placeholder="enter "> <br><br>
            worst symmetry   :  <input type="text", name='cc', placeholder="enter "> <br><br>
            worst fractal dimension   :  <input type="text", name='dd', placeholder="enter "> <br><br>
            
            
            <br></b>
            <input type="submit" , value='predict!' >
        </form>

        
        
    </center>

    </body>
</html>
